<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load cencor %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

<!-- Название у нас будет newss -->
{% block title %}
Newss
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
   <h1>Все Новости</h1>
   <hr>
<!--    &lt;!&ndash; Используем переданную из представления переменную time_now-->
<!--   и применяем к ней фильтр date. По назначению этот фильтр очень похож-->
<!--   на метод strftime у объекта datetime в Python — вывод времени-->
<!--   в указанном формате. &ndash;&gt;-->
<!--   <h3>{{ time_now|date:'M d Y' }}</h3>-->
   <!-- Вот так выглядело использование переменной и фильтра -->
   <!-- <h3>{{ time_now|date:'M d Y' }}</h3> -->
   <!-- А вот так мы используем наш тег-->
   <h3>{% current_time '%b %d %Y' %}</h3>
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о важной новости!" }} </h3>
   <!-- Используем наш фильтр -->

   <hr>
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
   <hr>
   {% if newss %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Дата публикации</td>
               <td>Автор</td>

           </tr>

           {% for news in newss %}
           <tr>
               <td>{{ news.name }}</td>
                <!-- Добавим специальный фильтр truncatechars,
                чтобы ограничить количество символов до 1.
                Все остальные символы превратятся в многоточие. -->
               <td>{{ news.description|truncatewords:1|censor }}</td>
               <td>{{ news.category.name }}</td>
               <td>{{ news.published_date }}</td>
               <td>{{ news.author }}</td>

           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}








